.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @include md {
    border: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset-list;
}

.social__item {
  margin: 0 18px;
  width: 21px;

  @include md {
    margin: 0 15px;
    width: 25px;

    &:nth-child(2) {
      margin: 0 18px;
      width: 19px;
    }
  }
}

.social__link {
  display: inline-block;
  font-size: 0;
  line-height: 0;

  svg {
    fill: #666666;
  }

  &:hover svg {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk svg {
    @include md {
      width: 30px;
      height: 26px;
    }
  }

  &--ig svg {
    width: 28px;

    @include md {
      width: 28px;
      height: 23px;
    }
  }

  &--fb svg {
    width: 28px;

    @include md {
      width: 28px;
      height: 28px;
    }
  }
}