/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
/* Colour palette */
// Pixel density
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;

