.button {
  display: block;
  font-family: 'Oswald', sans-serif;
  min-height: 40px;
  text-align: center;
  padding: 10px 20px;
  color: #ffffff;
  line-height: 20px;
  background-color: #68B738;
  min-width: 260px;
  box-sizing: border-box;
  font-weight: 400;
  border: none;
}

.preview__button {
  margin: 0 20px;
  margin-top: 3px;
}